body {
  margin: 0;
  text-transform: uppercase;
}

.blue {
  background: #14d9c4;
  height: 30px;
  border-right: 15px solid white;
}

.white {
  background: darken($color: #f7f7f8, $amount: 5%);
  height: 30px;
  border-right: 15px solid white;
}
