@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;500&display=swap");

$brandorange: #f26002;
$brandlightblue: #8ccbea;
$brandblue: #0271bc;
$branddarkblue: #304268;
$fontregular: "Roboto", sans-serif;
$fontbold: "Roboto Slab", serif;
