div {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
}

header {
  background-color: tomato;
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.aside1 {
  background-color: yellow;
  width: 20%;
  padding: 10px;
  text-align: center;
}

.aside2 {
  background-color: hotpink;
  width: 20%;
  padding: 10px;
  text-align: center;
}

article {
  background-color: turquoise;
  flex-wrap: wrap;
  width: 60%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: greenyellow;
  text-align: center;
}
