body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #36ad9f;
  overflow: hidden;
}

.box {
  height: 100vh;
  transition: height ease 5s;
  margin-bottom: 50px;

  &:hover {
    height: 30vh;
  }
}

.popup {
  width: 500px;
  height: 200px;
  border: 3px solid #dedede;
  margin: auto;
  display: flex;
  border-radius: 25px;
  box-shadow: 0 0 30px 5px #a09f9f;

  & h1 {
    margin: auto;
  }
}
