$defaultFontSize: 16;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1000px) {
    @content;
  }
}

@function rem($pixels) {
  @return ($pixels / $defaultFontSize * 1rem);
}

p {
  font-size: rem(18);
  margin: 0 rem(10);
  background-color: lighten($color: #891234, $amount: 30%);
  color: lighten($color: black, $amount: 20%);
}

.title {
  font-size: rem(16);
  background-color: lightgreen;

  @include tablet {
    background-color: darken($color: lightpink, $amount: 20%);
    font-size: rem(18);
  }

  @include desktop {
    background-color: gold;
    font-size: rem(20);
  }
}
